<form name="signup" action="/auth/signIn" method="post" style="color:black">
    username: <input name="username" id="username"/><br/>
    password: <input type="password" name="password" id="password"/><br/>
    <input type="submit" value="SIGN UP TODAY" class="btn btn-primary btn-lg"></input>
</form>